div.brightmirror-editor-title, div.brightmirror-editor-body {
    background: rgba(0, 0, 0, 0.1)
}

div.brightmirror-editor h1,
div.brightmirror-editor h2,
div.brightmirror-editor h3,
div.brightmirror-editor h4 {
    font-family: serif;
}

.bright-mirror h1.post-title {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}

.bright-mirror .post-author {
    margin-top: 2em;
    text-align: center;
}

.bright-mirror .post-excerpt {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 2em;
}

.bright-mirror .post-featured-image {
    padding-bottom: 2em;
    width: fit-content;
    margin: 0 auto;
}

.bright-mirror .post-featured-image img {
    text-align: center;
    margin: 0 auto;
    border: 1px solid #909090;
    padding: 5px;
}